<div class=" mt-3 mx-4 ">
    <div class="title">
        <div>
            <h1>About</h1>
        </div>
    </div>
    <div class="outer-box">
        <div class="box1">
            <p>
                <span>Welcome, visitors ! </span>

                <br>
                I'm Mohd Ansar Bux, 
                hailing originally from Ajaigarh in 
                district Panna, and currently based in 
                Bhopal, Madhya Pradesh.
                <br>
                <br>
                I specialize in crafting software, 
                web applications, and websites, 
                alongside designing UX/UI experiences 
                that blend functionality, user-friendliness, 
                and responsiveness with aesthetic appeal.
                For me, the realm of design and development 
                is more than just a profession; it's a 
                boundless passion. I thrive on 
                transforming intricate problems 
                into elegant, intuitive designs.
            </p>
        </div>

        <div class="box2">
            <div class="heading">
                <div>
                    <h1>What I'm Doing</h1>  
                </div>
                
            </div>

            <div class="cards">
                <div class="column">
                    
                    <div class="card doing">

                        <div class="what-i-am-doing">
                            <div class="doing-icon">
                                <i class="fa-solid fa-laptop-code"></i>
                            </div>
                            <div class="doing-content">
                                <div class="doing-heading">
                                    <h2>Web-App
                                        Developer</h2>
                                </div>
                                <div class="doing-paragraph">
                                    <p>Building dynamic online platforms for diverse user needs.</p>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="card doing">
                        <div class="what-i-am-doing">
                            <div class="doing-icon">
                                <i class="fa-solid fa-code"></i>
                            </div>
                            <div class="doing-content">
                                <div class="doing-heading">
                                    <h2>Website Design</h2>
                                </div>
                                <div class="doing-paragraph">
                                    <p>Crafting visually captivating and user-friendly digital interfaces.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="column">
                    <div class="card doing">
                        <div class="what-i-am-doing">
                            <div class="doing-icon">
                                <i class="fa-solid fa-microchip"></i>
                            </div>
                            <div class="doing-content">
                                <div class="doing-heading">
                                    <h2>Software Developer</h2>
                                </div>
                                <div class="doing-paragraph">
                                    <p> Engineering custom solutions to streamline business operations.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card doing">
                        <div class="what-i-am-doing">
                            <div class="doing-icon">
                                <i class="fa-solid fa-file-code"></i>
                            </div>
                            <div class="doing-content">
                                <div class="doing-heading">
                                    <h2>UI/UX Designing</h2>
                                </div>
                                <div class="doing-paragraph">
                                    <p>  Designing intuitive interfaces for engaging user experiences.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            </div>
        

        <div class="box3">
            <div class="heading">
                <div>
                    <h1>Competencies</h1>
                </div>
            </div>
            <div class="container">
                <div class="scrolling-wrapper row flex-row flex-nowrap mb-4">
                    
                    <div class="col-3">
                        <div class="card card-block">
                            <div class="card-body">
                                <div class="icon">
                                    <i class="fa-solid fa-bolt"></i>
                                </div>
                            </div>
                            <div class="card-body-content">
                                <div class="card-body-content1">
                                    <div>
                                        <h2>Fast Learner</h2>
                                    </div>
                                </div>
                                <div class="card-body-content2">
                                    <p>I have the ability to quickly acquire new knowledge and adapt to changing technological environments.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card card-block">
                            <div class="card-body">
                                <div class="icon">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                            <div class="card-body-content">
                                <div class="card-body-content1">
                                    <div>
                                        <h2>Teamwork</h2>
                                    </div>
                                </div>
                                <div class="card-body-content2">
                                    <p>I collaborate effectively in multidisciplinary projects and communicate clearly with team members.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card card-block">
                            <div class="card-body">
                                <div class="icon">
                                    <i class="fas fa-question-circle"></i>
                                </div>
                            </div>
                            <div class="card-body-content">
                                <div class="card-body-content1">
                                    <div>
                                        <h2>Problem Solving</h2>
                                    </div>
                                </div>
                                <div class="card-body-content2">
                                    <p>I am creative and efficient in identifying and
                                        solving technical problems.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card card-block">
                            <div class="card-body">
                                <div class="icon">
                                    <i class="fa-solid fa-comments"></i>
                                </div>
                            </div>
                            <div class="card-body-content">
                                <div class="card-body-content1 ">
                                    <div class=" end-content">
                                        <h2>Effective Communication</h2>
                                    </div>
                                </div>
                                <div class="card-body-content2">
                                    <p>I have the skill to convey ideas clearly and concisely, both technically and non-technically.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
