<div class=" mt-3">
    <div class="title">
        <div>
            <h1 class="head">Home</h1>
        </div>
    </div>
   <div class="box">
    <div class="intro-box mt-5">
        <div class="description-box mx-4">
            <div>
                <h1>Hello, my name is <span class="sp1">Mohd Ansar Bux</span> </h1>
                <h1>I'm a <span class="typing"></span></h1>
                <p> I'm a Web Appliction Developer with one
                     year of training experience. 
                    Certified in Java Full Stack technology. 
                    My experties is to create and design website,
                    Web-Application and many more...</p>
            </div> 
        </div>
        
        <div class="button-box mx-4">
            <button routerLink="/about">
                More About Me
            </button>
        </div>

    </div>
    <br>
    <div class="animated-box ">
        <div class="cube">
            <div class="top">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
                    <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0m6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0"/>
                  </svg>
            </div>
            <div>
                <span style="--i:0"></span>
                <span style="--i:1"></span>
                <span style="--i:2"></span>
                <span style="--i:3"></span>
            </div>
        </div>
    </div>
   </div>
</div>
