<div (click)="homepage()">
    <div class="row body-1">
        <div class="row">
            <div class="col-3 look">
                <img src="../../../assets/graph (6).png" alt="">
            </div>
            <div class="col-3 look"></div>
            <div class="col-3 look"><img src="../../../assets/graph (4).png" alt=""></div>

            <div class="col-3 look"></div>

        </div>

        <div class="row"> 
            <div class="col-3 look-inner"></div>

            <div class="col-6 box">
                <div class="welcome-container">
                    <h1 class="text-uppercase">Welcome!!!</h1>
                    <br>
                    <p>Thank you for visiting my Portfolio...</p>
                </div>  
            </div>

            <div class="col-3 look-inner"><img src="../../../assets/graph (2).png" alt=""></div>

        </div>
        <div class="row">
            <div class="col-3 look"><img src="../../../assets/graph (7).png" alt=""></div>
            <div class="col-3 look"></div>
            <div class="col-3 look"><img src="../../../assets/graph (5).png" alt=""></div>

            <div class="col-3 look"></div>
            
        </div>
    </div>
    <div class="row body-2">
        <div class="move">
            <h5>Click anywhere to move next page...</h5>
        </div>
    </div>
</div>





