<div class="container-fluid pt-4 pb-3 body">
    <div class="container box ">
        
        <div class="box-1  ">
            
                <div class="box-1-content">
                    <div class=" image-frame mt-5">
                        <img  src="docs/assets/anshu-profile.png" alt="anshu-profile" >
                    </div>
                    <hr>               
                </div>
                <div class="name-contant">
                    <div class="name">
                        Mohd Ansar Bux
                    </div>
                </div>
                <div class="title-contant">
                    <div class="title">
                        Java Full Stack Developer
                    </div>
                </div>
                <div class="container w-75">
                    <hr>
                </div>
            <div class="container w-75" id="contact">
                
                <div class="contact-box">
                    <div class="icon">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="contact-info">                        
                            <p> <span>Email</span><br>
                                anshuagh@gmail.com
                            </p>                        
                    </div>  
                </div>
                <div class="contact-box">
                    <div class="icon">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="contact-info">                        
                            <p> <span>Phone</span><br>
                                +91 9144272136
                            </p>                        
                    </div>  
                </div>
                <div class="contact-box">
                    <div class="icon">
                        <i class="fas fa-birthday-cake"></i>
                    </div>
                    <div class="contact-info">                        
                            <p> <span>Birthday</span><br>
                                Dec 25, 2000
                            </p>                        
                    </div>  
                </div>
                <div class="contact-box">
                    <div class="icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="contact-info">                        
                            <p> <span>Location</span><br>
                                Ajaigarh Panna M.P.
                            </p>                        
                    </div>  
                </div>
                
            </div>
            <div class="social">
                <div class="social-icon"> 
                    <a href="https://www.linkedin.com/in/mohd-ansar-bux/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i> 
                    </a>
                </div>
                <div class="social-icon"> 
                    <a href="https://github.com/Shadow-of-Raza" target="_blank">
                        <i class="fa-brands fa-github"></i> 
                    </a>
                </div>
                <div class="social-icon"> 
                    <a href="https://www.instagram.com/shadow.of.raza/" target="_blank">
                        <i class="fa-brands fa-instagram"></i> 
                    </a>
                </div>
                <div class="social-icon"> 
                    <a href="https://www.facebook.com/shadowansar/" target="_blank">
                        <i class="fa-brands fa-facebook"></i> 
                    </a>
                </div>
                <div class="social-icon"> 
                    <a href="https://twitter.com/BuxAnsar" target="_blank">
                        <i class="fa-brands fa-twitter"></i> 
                    </a>
                </div>
            </div>
            
               
            
        </div>

        <div class="box-2">
            <div class="nav-box">

                <input type="checkbox" id="nav-toggle" class="nav-toggle" #navToggle>
                
                    <label for="nav-toggle" class="nav-toggle-label"><span class="icon"></span>
                        <div class="nav-logo">
                            <div>
                               <span class="logo"><h1>Mohd Ansar Bux</h1></span> 
                            </div>
                        </div>
                    </label>
                    
                    
               
                    <nav>
                        <ul class="link-list">
                            <li><a class="nav-link" routerLink="/home">Home</a></li>
                            <li><a class="nav-link" routerLink="/about">About</a></li>
                            <li><a class="nav-link" routerLink="/resume">Resume</a></li>
                            <li><a class="nav-link" routerLink="/portfolio">Portfolio</a></li>
                            <li><a class="nav-link" routerLink="/contact">Contact</a></li>
                        </ul>
                    </nav>
                
            </div>
            <div class="component">
                <router-outlet></router-outlet>
            </div>     
        </div>
    </div>
    <div class="container below-box">
        <div class="box-3 pt-2">
            
                
                    <div class="copyright">
                        <p>&copy; 2024 My Portfolio / All Rights Reserved</p>
                    </div>
                    <div class="developer">
                        <p>Developed By : <span> Mohd Ansar Bux</span></p>
                    </div>
               
                
        </div>
    </div>
</div>
