<div class=" mt-3 mx-4 ">
    <div class="title">
        <div>
            <h1>Resume</h1>
        </div>
    </div>
   <div class="outer-box">
    <div class="box1">
        <div class="heading">
            <div class="icon">
                <i class="fas fa-history"></i>
            </div>
            <div class="head">
                <h1>Experience</h1>  
            </div>
        </div>
        <div class="exp-body">
            <div class="circle">
                <div class="circle-inner"></div>
            </div>
            <div class="exp">
                <div class="exp-inner">
                    <div class="job-title">
                        <h2>Java Full Stack Developer with Angular CLI</h2>
                    </div>
                    <div class="duration">
                        <p> <span> May 2023 - Oct 2023 • 6 mos </span><br>
                        EduBridge Learning Pvt. Ltd. • Apprenticeship <br>
                        Bengaluru, Karnataka, India • Remote</p>
                    </div>
                    
                    <div class="description">
                        <p>EduBridge Learning Pvt. Ltd. provided me with an immersive training and internship experience in Java Full
                            Stack with Angular CLI, equipping me with a robust skill set to thrive in the world of modern web
                            development. Throughout the program, I delved deep into Java programming, mastering both fundamental
                            and advanced concepts essential for building scalable applications.</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="exp-body">
            <div class="circle">
                <div class="circle-inner"></div>
            </div>
            <div class="exp">
                <div class="exp-inner">
                    <div class="job-title">
                        <h2>Java Full Stack Developer</h2>
                    </div>
                    <div class="duration">
                        <p> <span> Mar 2022 - Oct 2022 · 8 mos </span><br>
                            Pentagon Space · Apprenticeship<br>
                        Bengaluru, Karnataka, India • Remote</p>
                    </div>
                    
                    <div class="description">
                        <p>Pentagon Space Pvt. Ltd. is a cutting-edge tech firm pioneering advancements in space technology. As a Java Full Stack Developer, I completed an intensive training program, mastering essential technologies like Core Java, JDBC, Servlets, MySQL Database, HTML5, CSS3, Bootstrap, Spring, Spring Boot, Hibernate, JavaScript, JSP, and Apache Tomcat Server.</p>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
    <div class="box2">
        <div class="heading">
            <div class="icon">
                <i class="fas fa-user-graduate"></i>
            </div>
            <div class="head">
                <h1>Education</h1>  
            </div>
        </div>
        <div class="exp-body">
            <div class="circle">
                <div class="circle-inner"></div>
            </div>
            <div class="exp">
                <div class="exp-inner">
                    <div class="job-title">
                        <h2>Bachelor of Technology - BTech • Computer Science</h2>
                    </div>
                    <div class="duration">
                        <p> <span>2018 - 2022</span><br>
                        Bansal Institute of Research Technology & Science<br>
                        Bhopal, Madhya Pradesh, India • Full-time</p>
                    </div>
                    
                </div>

            </div>
        </div>

        <div class="exp-body">
            <div class="circle">
                <div class="circle-inner"></div>
            </div>
            <div class="exp">
                <div class="exp-inner">
                    <div class="job-title">
                        <h2>Intermediate • Mathematics </h2>
                    </div>
                    <div class="duration">
                        <p> <span> 2017 - 2018 </span><br>
                            Govt. Boys H. S. School<br>
                        Ajaigarh, Panna, Madhya Pradesh • Full-time</p>
                    </div>
                    
                </div>

            </div>
        </div>
        <div class="exp-body">
            <div class="circle">
                <div class="circle-inner"></div>
            </div>
            <div class="exp">
                <div class="exp-inner">
                    <div class="job-title">
                        <h2>Higher Education </h2>
                    </div>
                    <div class="duration">
                        <p> <span> 2016 - 2017 </span><br>
                            Saraswat H. S. School<br>
                        Ajaigarh, Panna, Madhya Pradesh • Full-time</p>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
    <div class="box3">
        <div class="heading">
            <div class="icon">
                <i class="fas fa-cogs"></i>
            </div>
            <div class="head">
                <h1>My Skills</h1>  
            </div>
            
        </div>
        <div class="skills">
            <div>
                <div class="bars">
                    <div class="info">
                        <span>Java Full Stack</span>
                        <span>90%</span>
                    </div>
                    <div class="line jfs"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Springboot Framework</span>
                        <span>70%</span>
                    </div>
                    <div class="line sbf"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Spring Framework</span>
                        <span>60%</span>
                    </div>
                    <div class="line sf"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Hibernate Framework</span>
                        <span>70%</span>
                    </div>
                    <div class="line hf"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>JDBC</span>
                        <span>70%</span>
                    </div>
                    <div class="line jdbc"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>J2Ee</span>
                        <span>50%</span>
                    </div>
                    <div class="line j2ee"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Angular CLI</span>
                        <span>90%</span>
                    </div>
                    <div class="line acli"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Angular Material</span>
                        <span>60%</span>
                    </div>
                    <div class="line am"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>HTML</span>
                        <span>90%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>CSS</span>
                        <span>80%</span>
                    </div>
                    <div class="line css"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Bootstrap</span>
                        <span>80%</span>
                    </div>
                    <div class="line bs"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>JavaScript</span>
                        <span>50%</span>
                    </div>
                    <div class="line js"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>TypeScript</span>
                        <span>80%</span>
                    </div>
                    <div class="line ts"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>JSP Servlet</span>
                        <span>60%</span>
                    </div>
                    <div class="line jsp"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>SQL MySQL</span>
                        <span>90%</span>
                    </div>
                    <div class="line mysql"></div>
                </div>
            </div>   

        </div>
    </div>

        <div class="btn-icn">
            <p class="cls">Download Resume</p>
            <a href="../../../assets/Mohd-Ansar-Bux-Resume.pdf" target="_blank">
                <button class="Btn">
                    <svg class="svgIcon" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg> 
                    <span class="icon2"></span>
                    <span class="tooltip">Download</span>
                </button>
            </a>
        </div>

   </div>
</div>
