<div class=" mt-3  mx-4">
    <div class="title">
        <div>
            <h1>Portfolio</h1>
        </div>
    </div>

    <div class="heading">
        <div>
            <h1>Projects</h1>
        </div>
    </div>
    <div class=" outer-box mb-5">
        

        <div class="card">

            <img src="../../../assets/Portfolio.png">
            <div class="overlay"></div>
                <a href="" target="_blank">
                    <div class="icon">
                        <i class="fa-solid fa-eye"></i>
                    </div>
                </a> 
            <div class="content">Portfolio Website</div>

          </div>
          <div class="card">
            <img src="../../../assets/GuestGuru.jpg">
            <div class="overlay"></div>
                <a href="https://github.com/Shadow-of-Raza/Clint-hotel-management.git" target="_blank">
                    <div class="icon">
                        <i class="fa-solid fa-eye"></i>
                    </div>
                </a>
                <div class="content">Hotel-Management-Clint</div>
            </div>
            <div class="card">
                <img src="../../../assets/GuestGuru.jpg">
                <div class="overlay"></div>
                    <a href="https://github.com/Shadow-of-Raza/Server-hotel-management.git" target="_blank">
                        <div class="icon">
                            <i class="fa-solid fa-eye"></i>
                        </div>
                    </a>
                    <div class="content">Hotel-Management-Server</div>
                </div>
          <div class="card">
            <img src="../../../assets/bank.png">

            <div class="overlay"></div>
            <a href="https://github.com/Shadow-of-Raza/Online-Banking-Application.git" target="_blank">
                <div class="icon">
                    <i class="fa-solid fa-eye"></i>
                </div>
            </a>
            <div class="content">Online Banking Application</div>
          </div>
          <div class="card">
            <img src="../../../assets/Calculator.png">

            <div class="overlay"></div>
            <a href="https://github.com/Shadow-of-Raza/Calculator.git" target="_blank">
                <div class="icon">
                    <i class="fa-solid fa-eye"></i>
                </div>
            </a>
            <div class="content">Calculator</div>
          </div>
                                        
    </div>
   
</div>
